<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  
  <div class="border">
    deneme
  </div>

  <footer>
    <a href="https://ahmetpayaslioglu.github.io/">
      <span>
          <b>{{ site.owner}}</b>
      </span>
      {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
      <span>© {{ currentyear }}</span>
    </a> 
   
  </footer>
  
</body>
</html>