<footer>
  <a href="https://ahmetpayaslioglu.github.io/">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a> 
 <br>
 <div class="text-center" style="display: inline;">
   
  <a href="https://t.me/stuxnet7"><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111646.svg" alt=""style="width:4%; "></a>
  <a href="https://telegram.com"><img src="https://www.flaticon.com/svg/static/icons/svg/733/733579.svg" alt=""style="width:4%; "></a>
  <a href="https://telegram.com"><img src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg" alt=""style="width:4%; "></a>
 </div>
</footer>
